{% extends 'website/base.html' %}
{% block title %}Liste d'étudiants{% endblock %}

{% load form_extras %}
{% block content %}

<!-- TODO: Try 4 columns (excluding the id, if it doesn't look good on mobile) -->


  {% if students_count != 0 %}
    <div class="container pt-4 pb-4 text-center">
        <h3>Il y'a <i>{{students_count}}</i> etudiants enregistrés en ce moment.</h3>
    </div>


    <div class="container">
      <div class="row row-cols-5">
        <div class="col">
          #
        </div>
        <!-- #&emsp;&emsp;&emsp; -->
        <div class="col">
          Nom & Prenom
        </div>
        <div class="col">
          Institution
        </div>
        <div class="col">
          Ville
        </div>
        <div class="col">
          Expiration
        </div>
      </div>

      <hr>
    </div>


    <div class="container">
      {% for student in students %}
        {% if student|remainder_check %}
          <div class="row row-cols-5 bg-light">
            <div class="col">
              {{student.id}}
            </div>
            <!-- {{student|id_formatter}}&emsp; -->
            <div class="col">
              {{student|get_fullname}}
            </div>
            <div class="col">
              {{student|capitalize_uni}}
            </div>
            <div class="col">
              {{student.city}}
            </div>
            <div class="col">
              {{student|date_formatter}}
            </div>
          </div>
        {% else %}
          <div class="row row-cols-5">
            <div class="col">
              {{student.id}}
            </div>
            <!-- {{student|id_formatter}}&emsp; -->
            <div class="col">
              {{student|get_fullname}}
            </div>
            <div class="col">
              {{student|capitalize_uni}}
            </div>
            <div class="col">
              {{student.city}}
            </div>
            <div class="col">
              {{student|date_formatter}}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  {% else %}
    <div class="container w-75 pt-4 text-justify">
        <p>Aucun etudiant s'est encore fait enregistré.</p>
    </div>
  {% endif %}

{% endblock %}
