{% extends 'website/base.html' %}

{% block title %}Enregistrement{% endblock %}
{% block content %}

<div class="container w-75 pt-4 pb-2 text-justify">
    <p>Nous, etudiants congolais en Afrique du Sud, faisons face à un chalenge quand il s'agit de renouveler
      nos passeports. Nous sommes obligés de repartir au pays pour le faire et cela pose un
      vrai probleme pour plusieurs raisons. C'est pour cela que l'association des etudiants congolais en afrique
      du Sud qui se chargent de plusieurs affaires nous concernant s'etaient plaints auprès de l'ambassadeur
       concernant ce probleme. Et la solution avait été de recenser le nombre d'etudiants
      comme ça ils pourront decider s'il faudra emmener la machine en afrique du sud...</p>
</div>

<div class="container w-75">

  <form action="" method="post">

    <div class="row form-group">
        <div class="col">
          <label for="inputSurname">Nom:</label>
          <input type="text" class="form-control" id="inputSurname" placeholder="Nom">
        </div>
        <div class="col">
          <label for="inputName">Prenom:</label>
          <input type="text" class="form-control" id="inputName" placeholder="Prenom">
        </div>
      </div>

    <div class="form-group">
      <label for="inputInstitution">Institution:</label>
      <input type="text" class="form-control" id="inputInstitution" placeholder="Institution">
    </div>

    <div class="form-group">
        <label for="inputCity">Ville:</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Ville">
    </div>

    <div class="form-group">
          Date D'expiration:
          <input type="text" class="form-control" id="expirationDate"/>
    </div>

    <script>
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#expirationDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: today,
        });
    </script>

   <!-- TODO: Add a required tag -->
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Confirmation
        </label>
      </div>
    </div>
    <div class="text-center">
          <button type="submit" class="btn btn-success btn-sm">S'enregistrer</button>
    </div>

  </form>

</div>


<div class="container w-50 pt-4">
<button type="button" class="btn btn-outline-success btn-sm btn-block" data-toggle="modal" data-target=".bd-modal-md">Le Savais Tu?</button>
</div>

<div class="modal bd-modal-md" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Opportunité De Bourse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify"> Nous, etudiants congolais en Afrique du Sud, faisons face à un chalenge quand il s'agit de renouveler
          nos passeports. Nous sommes obligés de repartir au pays pour le faire et cela pose un
          vrai probleme pour plusieurs raisons. C'est pour cela que l'association des etudiants congolais en afrique
          du Sud qui se chargent de plusieurs affaires nous concernant s'etaient plaints auprès de l'ambassadeur
          concernant ce probleme. Et la solution avait été de recenser le nombre d'etudiants
          comme ça ils pourront decider s'il faudra emmener la machine en afrique du sud...
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-success btn-sm">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
